<h1>Welcome back, <%= current_user.username %> </h1>

<h2>Statistics</h2>
<h4>Following: <%= current_user.followees.count %></h4>
<h4>Followed by: <%= current_user.followers.count %></h4>
<h4>Number of notes: <%= current_user.notes.count %></h4>
</br>
<h2>Who you are following:</h2>
<div class="card-deck">
  <% @followedusers.each do |array| %>
    <% user = User.find_by(id: array.followee_id) %>
    <div class="card-contain">
    <div class="card">
      <%= image_tag("http://api.adorable.io/avatar/300/#{user.username}") %>
      <div class="card-body">
        <h4 class="card-title text-center"><%= link_to user.username, user_path(username: user.username) %></h4>
        <div class="scroller">
        <p class="card-text">
          <% user.notes.each do |note| %>
          <li class="list-group-item"><%= note.title %></li>
          <% end %>
          </p>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
