<h1>Welcome back, <%= current_user.username %> </h1>

<div class = "row">
  <div class="col-3 offset-1">
    <% if current_user.picture? %>
      <%= image_tag(current_user.picture.url) %>
    <% else %>
      <%= image_tag("http://api.adorable.io/avatar/300/#{current_user.username}") %>
    <% end %>

    <%= simple_form_for current_user, url: user_path(current_user), method: :put, html: {multipart: true} do |f| %>
    <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
    </br>
    <%= f.submit 'Update Profile Information'%>
    <% end %>
  </div>
  <div class="col-4">
    <div class="container home">
      <h4>Bio: </br>
      <%= best_in_place [current_user], :bio, :type => :textarea, display_with: :simple_format, :html_attrs => { :cols => '20', :rows => '1' } %></h4>
    </div>
  </div>
  <div class="col-4">
    <h2>Statistics</h2>
    <h4>Following: <%= current_user.followees.count %></h4>
    <h4>Followed by: <%= current_user.followers.count %></h4>
    <h4>Number of notes: <%= current_user.notes.count %></h4>
  </div>
</div>
</br>
<h2>Latest updates from your follows:</h2>
  <div id="latest-notes">
    <%= render "latest-notes" %>
  </div>
  <script>
    $(function(){
      $('.pagination a').attr('data-remote', 'true')
    });
  </script>
