<h1><%= @user.username %>'s Notebook</h1>

<% if user_signed_in? %>
<% @check = Following.find_by(follower_id: current_user.id, followee_id: @user) %>
  <% if @check.nil? %>
    <%= link_to 'Follow this User', user_followings_path(user_username: @user.username), method: :post, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Unfollow this User', user_following_path(user_username: @user.username, id: @check.id), method: :delete, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h2>Statistics</h2>
<p>Following:</p>
<p>Followed by:</p>
<p>Number of notes:</p>

<br/>
<h2>Current Notes</h2>
<div class="card-deck">
  <% @user.notes.each do |note| %>
    <div class="card-contain">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center"><%= note.title %></h4>
        <div class="scroller">
        <p class="card-text">
          <%= note.body %>
        </p>
        </div>
      </div>
      <% if user_signed_in? %>
        <% if Like.find_by(user_id: current_user.id, note_id: note.id).nil? %>
          <%= link_to 'Like', user_likes_path(user_username: @user.username, id: note), method: :post, class: 'btn btn-outline-danger' %>
        <% else %>
          <%= link_to 'Unlike', user_like_path(user_username: @user.username, id: note), method: :delete, class: 'btn btn-outline-danger' %>
        <% end %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
